node_modules
.pnpm-store/
.next
.next-e2e
dist
backups/
.vercel
.env
.output
tsconfig.tsbuildinfo
.env.local
.env.production
.pnpm-debug.log
playwright-report/
test-results/
TODO
.env*.local
fonts/*
!fonts/init.mjs
public/fonts
